version: '3.8'

services:
  db:
    image: postgres:16.3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: spacesprotocol_explorer
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data